[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rich = "*"
python-dotenv = "*"
ruff = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.11"
